.menu-btn, .menu-btn:focus {
    border: none;
    background-color: rgba(255,255,255,.75);
    padding: 20px;
    outline: none;
    width: 25%;
    margin: 10px;
    height: 75px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.menu-btn:hover {
     background-color: white;
}

.clear-btn {
    display: block;
    border: none;
    background-color: rgb(239, 239, 239);
    padding: 10px 15px;
    outline: none;
    margin: auto;
    margin-bottom: 25px;
}

