#link-container {
    margin: 10px auto;
}

#page-link {
    display: block;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px)  {

    #link-container {
        margin: 15px auto 50px auto;
    }
}
