#question-answer-container {
    margin: auto;
    width: 75%;
}

ol {
    list-style-position: inside;
    padding-inline-start: 0px;
}

@media screen and (max-width: 768px)  {

    #question-answer-container {
      width: 75%;
    }
  }