#header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5em;
    line-height: 1.5em;
    padding-top: 25px;
    color: white;
    padding: 0px;
    margin: 0px auto 25px auto;
    text-shadow: 10px 5px 0px black;
}

#header-link {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    #header {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    #header {
        font-size: 1.5em;
        margin-top: 15px;
    }
}


