#score-container {
    display: flex;
    justify-content: center;
}

#score-container p {
    color: white;
}

.score-text {
    font-weight: bold;
    color: #E4DFDA;
}

#correct {
    margin-right: 20px;
}