#score-container {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.score-text {
    font-weight: bold;

}

#correct {
    margin-right: 20px;
}

/* @media screen and (max-width: 768px)  {
    #score-container {
        font-size: 24px;
    }
} */