.answer {
    background-color: rgba(255,255,255,.75);
    border-radius: 10px;
    margin: auto;
    padding: 20px 20px 20px 25px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);

}

.answer:hover {
    background-color: white;
}


@media screen and (max-width: 768px)  {
    .answer {
        margin-bottom: 15px;
        padding: 15px 15px 15px 25px;
        width: initial;
    }
}